html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}
#top-page{
  background-color: black;
}
#top-page{
  top: 0;
    background-image: url(virat.webp);
/*    background-color: black;      */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    opacity: 0.8;
}
















/* EXtra part
*/
.voverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#myPortfolio{
  width: 70%;
  height: 800px;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
}
#myPortfolio p{
  font-size: 50px;
  font-family: sans-serif;
  color: white;
}
#myPortfolio button{
  border: 1px solid red;
  background-color:  red;;
  padding: 20px;
  color: white;
  width: 60%;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 3px;
  box-shadow: 2px 4px 6px white;
  border-radius: 5px;
}
#myPortfolio button:hover{
  box-shadow: 2px 4px 6px white;
  background-color: white;
  color: black;
}



























h1{
    font-family: "Raleway", sans-serif;
    text-decoration:dashed;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  #text a{
      color: white;
      text-decoration: none;
  }
  #text a:hover{
      text-shadow: 0 0 5px #fff,
                  0 0 10px #fff,
                  0 0 20px white,
                  0 0 30px whitesmoke,
                  0 0 40px white,
                  0 0 50px whitesmoke;
  }
  .menu {
    background-color :black;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #myMenu {
    position: fixed;
    top: 30px;
    right:30px;
  }
  .menu:hover{
    background-color:#46b8da;
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px white,
    0 0 30px whitesmoke,
    0 0 40px white,
    0 0 50px whitesmoke;
  }
  .projects-1{
    width: 33.33%;
    height: 400px;
    float: left;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .projects-2{
    width: 33.33%;
    height: 400px;
    float: left;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .projects-3{
    width: 33.33%;
    height: 400px;
    float: left;
    background-color:white;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  @media only screen and (max-width:768px) {
  .projects-1{
    left: 30%;
    width: 100%;
    height: 400px;
    background-color: white;
  }
  .projects-2{
    left: 30%;
    width: 100%;
    height: 400px;
    background-color: white;
  }
  .projects-3{
    left: 30%;
    width: 100%;
    height: 400px;
    background-color:white;
  }

  }
  #one,#two,#three{
    background-color: rgb(94, 91, 91) ; 
    border-radius: 10px;
    color: white;
    border: 1px solid black;
  }
  #one:hover,#two:hover,#three:hover{
    background-color:  white;
    box-shadow: 2px 3px 4px black;
    color: black;
  }
  #image1{
    height: 266px;
    width: 100%;
    opacity: 1;
}

#projects{
    font-size: 50px;;
}

#projects:hover{
    font-size: 70px;
    letter-spacing: 10px;
}

/**   About section   **/

    #about-container{
        height: 750px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: rgb(72, 217, 81);
    }



    #about-1,#about-2{
        justify-content: center;
        align-items: center;
        display: flex;
      }
      #about-1{
        width: 30%;
        height: 500px;
        float: left;
        background-color: white;
      }
      #about-2{
        width: 70%;
        height: 500px;
        float: left;
        background-color: white;
      }
      #about-1 img{
        height: 350px;
        width: 90%;
      }
      @media only screen and (max-width:768px) {
      #about-1{
        left: 30%;
        width: 100%;
        height: 300px;
        background-color:white;
      }
      #about-2{
        left: 30%;
        width: 100%;
        height: 600px;
        background-color: white;
      }
      #about-1 img{
        height: 80%;
        width: 90%;
      }
      }

#img2:hover{
    box-shadow: 2px 4px 6px  black;
}
#x{
    font-size: 20px;
    color:red;
    font-family: sans-serif;
}
#x:hover{
    font-size: 30px;
    color: orangered;
}
#normal,#technical{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #normal{
    width: 50%;
    height: 500px;
    float: left;
    /*background-color: rgb(208, 204, 204);*/
  }
  #technical{
    width: 50%;
    height: 500px;
    float: left;
   /* background-color: rgb(214, 214, 202);*/
  }
  @media only screen and (max-width:768px) {
  #normal{
    left: 30%;
    width: 100%;
    height: 400px;
    background-color: rgb(208, 204, 204);
  }
  #technical{
    left: 30%;
    width: 100%;
    height: 400px;
    background-color:rgb(214, 214, 202);
  }
  }

  #normal table:hover,#technical table:hover{
    width: 85%;
    height:350px ;
    box-shadow: 2px 4px 6px black;
  }
#hey{
 font-size: 40px;
 font-family: sans-serif;   
}
/*Contact*/
#contact{
    height: 600px;
    width: 100%;
    background-color: white;
}

#a,#b,#c{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #a{
    width: 33.3%;
    height: 300px;
    float: left;
    background-color: white;
  }
  #b{
    width: 33.3%;
    height: 300px;
    float: left;
    background-color: white;
  }
  #c{
    width: 33.3%;
    height: 300px;
    float: left;
    background-color: white;
  }
  @media only screen and (max-width:768px) {
  #a{
    left: 30%;
    width: 100%;
    height: 300px;
    background-color: white;
  }
  #b{
    left: 30%;
    width: 100%;
    height: 400px;
    background-color:white;
  }
  #c{
    width: 100%;
    height: 400px;
    left: 30%;
    background-color: white;
  }
  }
  #imgContact{
    border-radius: 50%;
    height: 25%px;
    width: 25%;
  }
  #imgContact:hover{
    height: 70%;
    width: 40%;
  }
  #contact p{
    font-family: sans-serif;
    font-size: 10px;
  }
#mailme{
    height: 500px;
    width: 100%;
    background-color: rgb(169, 156, 156);
}

  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #000000;
  
    box-shadow: 2px 4px 5px white;
  }
  
  .bunti {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    color: rgb(255, 255, 255);
  }
  .bunti:hover{
    border-radius: 5px;
    background-color: #5d5b5b;
    color: white;
    padding: 20px;
  }
  #footer{
    background-color: rgb(0, 0, 0);
    height: 250px;
    width: 100%;
  }
  #footer img{
    width: 40px;
    height: 40px;
  }
